.main {
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
}

.header {
    background-color: lightseagreen;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    color: white;
}

.wrapper {
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
}

.body {
    display: flex;
}

.content {
    background-color: #282c34;
    width: 100%;
    color: white;
    font-size: 30px;
}


.btn {
    margin: 10px;
    text-align: center;
    align-self: center;
    display: block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #0056b3;
}
